@import "tailwindcss";

@theme {
    --color-blue: #0788FF;
    --color-white: #FFFFFF;
    --color-gray: #393E46;
    --color-dark-blue: #222831;
    --color-btn-hover: #2697ff;

    --font-manrope: "MANROPE";
    --font-thicccboi: "THICCCBOI";
}

@layer utilities {
    .bg-gradient {
        background: linear-gradient(to bottom, #3C538F 67%, #19284E);
    }
}

@font-face {
    font-family: "THICCCBOI";
    src: url("../public/fonts/THICCCBOI-ExtraBold.ttf") format('truetype');
}

@font-face {
    font-family: "MANROPE";
    src: url("../public/fonts/Manrope/Manrope-Regular.ttf") format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: "MANROPE";
    src: url("../public/fonts/Manrope/Manrope-Medium.ttf") format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: "MANROPE";
    src: url("../public/fonts/Manrope/Manrope-SemiBold.ttf") format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: "MANROPE";
    src: url("../public/fonts/Manrope/Manrope-Bold.ttf") format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: "MANROPE";
    src: url("../public/fonts/Manrope/Manrope-ExtraBold.ttf") format('truetype');
    font-weight: 800;
}