@import "tailwindcss";

@theme {
    --color-blue: #0788FF;
    --color-white: #FFFFFF;
    --color-gray: #393E46;
    --color-dark-blue: #222831;

    --font-poppins: "POPPINS";
    --font-thicccboi: "THICCCBOI";
}

@layer utilities {
    .bg-gradient {
        background: linear-gradient(to bottom, #3C538F 67%, #19284E);
    }
}

@font-face {
    font-family: "THICCCBOI";
    src: url("../public/fonts/THICCCBOI-ExtraBold.ttf") format('truetype');
}

@font-face {
    font-family: "POPPINS";
    src: url("../fonts/poppins/Poppins-Light.ttf") format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: "POPPINS";
    src: url("../fonts/poppins/Poppins-Regular.ttf") format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: "POPPINS";
    src: url("../fonts/poppins/Poppins-Medium.ttf") format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: "POPPINS";
    src: url("../fonts/poppins/Poppins-SemiBold.ttf") format('truetype');
    font-weight: 600;
}